<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.cccxm.mydemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

        <activity android:name=".android.view.circle.CircleListActivity" />
        <activity android:name=".android.view.circle.CardViewCircleActivity" />
        <activity android:name=".android.effect.animation.AnimationListActivity" />
        <activity android:name=".android.material.bar.AppBarListActivity" />
        <activity android:name=".android.material.bar.AppBarSimpleActivity" />
        <activity android:name=".android.effect.linkage.LinkageListActivity" />
        <activity
            android:name=".android.effect.linkage.ListPushBarActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".android.effect.linkage.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.effect.linkage.ListHideBarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.LearnDetailActivity" />
        <activity
            android:name=".android.extension.mapbox.MapBoxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".android.layout.flow.FlowListActivity" />
        <activity
            android:name=".android.layout.flow.StaticTagActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".android.data.net.NetRequestActivity" />
        <activity
            android:name=".android.data.net.ServiceDownloadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.layout.recycler.RecyclerListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.adapter.screen.ScreenAdapterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.adapter.screen.ViewPartFullScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".android.data.net.BackgroundService" />
    </application>

</manifest>